# local package
-e ./populartimes

# external requirements
numpy==1.18
pandas==0.25
SQLAlchemy==1.3.2
python-dotenv==0.10.1
click==7.0
requests==2.21.0
pydotplus==2.0.2
scipy==1.10.0
snowflake-connector-python
tabulate==0.8.3
black
beautifulsoup4
jupyterlab
gmplot